<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="23" android:compileSdkVersionCodename="6.0-2438415" package="com.easy.play" platformBuildVersionCode="23" platformBuildVersionName="6.0-2438415">
    <queries>
        <intent>
            <action android:name="android.speech.action.RECOGNIZE_SPEECH"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="https"/>
        </intent>
    </queries>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_OWNER_DATA"/>
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA"/>
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:smallScreens="true" android:xlargeScreens="true"/>
    <uses-feature android:name="android.hardware.microphone" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-feature android:name="android.software.leanback" android:required="false"/>
    <uses-feature android:name="android.hardware.screen.portrait" android:required="false"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.realmofapknpanels.com_com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.realmofapknpanels.com_com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <application android:allowBackup="false" android:allowNativeHeapPointerTagging="false" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:banner="@mipmap/tv_banner" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:largeHeap="true" android:name="store.btvplay.com.miscelleneious.MyApplication" android:requestLegacyExternalStorage="true" android:supportsRtl="true" android:theme="@style/AppTheme" android:usesCleartextTraffic="true">
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:exported="true" android:name="store.btvplay.com.view.activity.QuitActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:exported="true" android:name="store.btvplay.com.MyFavouriteActivity" android:screenOrientation="sensorLandscape"/>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.Local_media_Activity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.AudioPickActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.VideoPickActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.SpeedTestActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.MultiSettingActivity" android:screenOrientation="sensorLandscape"/>
        <provider android:authorities="com.realmofapknpanels.com.provider" android:exported="false" android:grantUriPermissions="true" android:name="store.btvplay.com.miscelleneious.VedioFile">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_path"/>
        </provider>
        <provider android:authorities="com.realmofapknpanels.com.fileprovider" android:enabled="true" android:exported="false" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/>
        </provider>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.AddedExternalPlayerActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.ExternalPlayerActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.SplashActivity" android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.LoginActivity" android:screenOrientation="sensorLandscape" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.SettingsActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.ParentalControlActivitity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.NewDashboardActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.AccountInfoActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.AHDesignActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.PlayerSelectionActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.ImportEPGActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.NewEPGActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.NewEPGCategoriesActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.ViewDetailsActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.ViewDetailsCastActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.PlayRecordingExternalPlayerActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.StreamFormatActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.TVArchiveActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.SubTVArchiveActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.VodActivityNewFlowSubCategories" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.VodActivityNewFlowSecondSubCategories" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.LiveActivityNewFlow" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.TVArchiveActivityNewFlow" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.TVArchiveActivityLayout" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.TimeFormatActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.EPGChannelUpdateActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.VodActivityNewFlow" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.VodActivityLayout" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.AutomationActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.SeriesActivtyNewFlow" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.SeriesActivitNewFlowSubCat" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.GeneralSettingsActivity" android:screenOrientation="sensorLandscape"/>
        <receiver android:enabled="true" android:exported="true" android:name="store.btvplay.com.view.activity.BootStartupActivity" android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.YouTubePlayerActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:excludeFromRecents="true" android:name="store.btvplay.com.view.activity.NotificationActivity" android:screenOrientation="sensorLandscape" android:taskAffinity=""/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.RecordingActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.VLCPlayerRecordingActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.MxPlayerRecordingActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.AnnouncementsActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.AnnouncementAlertActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize" android:launchMode="singleTask" android:name="store.btvplay.com.view.ijkplayer.activities.NSTIJKPlayerSkyActivity" android:resizeableActivity="false" android:screenOrientation="sensorLandscape" android:supportsPictureInPicture="true"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.ijkplayer.activities.NSTIJKPlayerVODActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.ijkplayer.activities.NSTIJKPlayerEPGActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.PlayerSettingsActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.CheckAppupdateActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.RateUsActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.WHMCSClientapp.activities.FreeTrailActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.ImportM3uActivity" android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="redirect_live_tv"/>
            </intent-filter>
            <intent-filter>
                <action android:name="redirect_vod"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.RoutingActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.LoginM3uActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.MultiUserActivity" android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="m3u"/>
            </intent-filter>
            <intent-filter>
                <action android:name="api"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.ViewDetailsTMDBActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.SeriesDetailM3UActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.SeriesActivityNewFlowSubCategoriesM3U" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.SeriesActivityNewFlowM3U" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.PlayExternalPlayerActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.APPInPurchaseActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.WHMCSClientapp.activities.ServicesDashboardActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.WHMCSClientapp.activities.MySerivcesActiviy" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.WHMCSClientapp.activities.MyTicketActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.WHMCSClientapp.activities.MyInvoiceActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.WHMCSClientapp.activities.ViewTicketActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.WHMCSClientapp.activities.PaidInvoiceActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.WHMCSClientapp.activities.UnpiadInvoiceActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.WHMCSClientapp.activities.CancelInvoiceActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.WHMCSClientapp.activities.InvoiceRefundedActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.WHMCSClientapp.activities.ActiveServiceActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.WHMCSClientapp.activities.CancelledSerivceActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.WHMCSClientapp.activities.PendingServiceActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.WHMCSClientapp.activities.SuspendedServiceActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.WHMCSClientapp.activities.TerminatedServiceActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.WHMCSClientapp.activities.FraudServiceActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.WHMCSClientapp.activities.ShowserviceInformationActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.WHMCSClientapp.activities.OpenTicketActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.WHMCSClientapp.activities.InvoicePaidDetailActivity" android:screenOrientation="sensorLandscape"/>
        <service android:name="store.btvplay.com.WHMCSClientapp.notifications.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name="store.btvplay.com.WHMCSClientapp.notifications.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <meta-data android:name="com.google.firebase.messaging.default_notification_channel_id" android:value="@string/default_notification_channel_id"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.WHMCSClientapp.activities.BuyNowActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:label="@string/app_name" android:launchMode="singleTask" android:name="store.btvplay.com.miscelleneious.chromecastfeature.ExpandedControlsActivity" android:screenOrientation="sensorLandscape" android:theme="@style/ChromecastTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="store.btvplay.com.view.activity.NewDashboardActivity"/>
        </activity>
        <meta-data android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME" android:value="store.btvplay.com.miscelleneious.chromecastfeature.CastOptionsProvider"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.exoplayer.NSTEXOPlayerSkyActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.exoplayer.NSTEXOPlayerVODActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.ijkplayer.activities.NSTIJKPlayerMultiActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.vpn.activities.ProfileActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.vpn.activities.ImportVPNActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="de.blinkt.openvpn.LaunchVPN" android:screenOrientation="sensorLandscape"/>
        <service android:name="de.blinkt.openvpn.core.OpenVPNService" android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService"/>
            </intent-filter>
        </service>
        <service android:name="de.blinkt.openvpn.core.OpenVPNStatusService" android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService"/>
            </intent-filter>
        </service>
        <service android:name="de.blinkt.openvpn.api.ExternalOpenVPNService" android:permission="android.permission.BIND_VPN_SERVICE" android:process=":openvpn">
            <intent-filter>
                <action android:name="de.blinkt.openvpn.api.IOpenVPNAPIService"/>
            </intent-filter>
        </service>
        <service android:icon="@mipmap/ic_launcher" android:label="@string/qs_title" android:name="de.blinkt.openvpn.OpenVPNTileService" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:value="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.ACTIVE_TILE" android:value="false"/>
        </service>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.vpn.LogWindow" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.vpn.DisconnectVPN" android:screenOrientation="sensorLandscape"/>
        <activity android:name="de.blinkt.openvpn.api.RemoteAction"/>
        <activity-alias android:exported="true" android:name="de.blinkt.openvpn.api.ConnectVPN" android:targetActivity="de.blinkt.openvpn.api.RemoteAction"/>
        <activity android:name="de.blinkt.openvpn.api.GrantPermissionsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name="de.blinkt.openvpn.api.ConfirmDialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <meta-data android:name="android.content.APP_RESTRICTIONS" android:resource="@xml/app_restrictions"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.SeriesDetailActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize" android:launchMode="singleTask" android:name="store.btvplay.com.view.activity.HoneyPlayer" android:resizeableActivity="false" android:screenOrientation="sensorLandscape" android:supportsPictureInPicture="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="content"/>
                <data android:mimeType="video/*"/>
                <data android:mimeType="audio/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="content"/>
                <data android:mimeType="video/*"/>
                <data android:mimeType="audio/*"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.miscelleneious.chromecastfeature.queue.QueueListViewActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.SeriesAllDataSingleActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.VodAllDataSingleActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.LiveAllDataSingleActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="orientation|screenLayout|screenSize" android:name="store.btvplay.com.view.ijkplayer.activities.NSTIJKPlayerSkyTvActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.SearchActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.FrontView" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.EPGSettingsActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.SearchActivityLowerSDK" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.ScreenTypeActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="store.btvplay.com.view.activity.ScreenTypeSettingsActivity" android:screenOrientation="sensorLandscape"/>
        <service android:name="store.btvplay.com.miscelleneious.chromecastfeature.castserver.CastServerService"/>
        <service android:name="store.btvplay.com.miscelleneious.StopProcessingTasksService" android:stopWithTask="false"/>
        <activity android:exported="false" android:label="" android:name="pub.devrel.easypermissions.AppSettingsDialogHolderActivity" android:theme="@style/EasyPermissions.Transparent"/>
        <receiver android:exported="false" android:name="com.google.android.gms.cast.framework.media.MediaIntentReceiver"/>
        <service android:exported="false" android:name="com.google.android.gms.cast.framework.media.MediaNotificationService"/>
        <service android:exported="false" android:name="com.google.android.gms.cast.framework.ReconnectionService"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:name="com.facebook.FacebookActivity" android:theme="@style/com_facebook_activity_theme"/>
        <activity android:name="com.facebook.CustomTabMainActivity"/>
        <activity android:exported="true" android:name="com.facebook.CustomTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="cct.store.btvplay.com" android:scheme="fbconnect"/>
            </intent-filter>
        </activity>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.iid.Registrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.dynamicloading.DynamicLoadingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:exported="true" android:name="com.google.android.gms.auth.api.signin.RevocationBoundService" android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION"/>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="false" android:name="com.facebook.ads.AudienceNetworkActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <provider android:authorities="com.realmofapknpanels.com.AudienceNetworkContentProvider" android:exported="false" android:name="com.facebook.ads.AudienceNetworkContentProvider"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <provider android:authorities="com.realmofapknpanels.com.firebaseinitprovider" android:directBootAware="true" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <provider android:authorities="com.realmofapknpanels.com.FacebookInitProvider" android:exported="false" android:name="com.facebook.internal.FacebookInitProvider"/>
        <receiver android:exported="false" android:name="com.facebook.CurrentAccessTokenExpirationBroadcastReceiver">
            <intent-filter>
                <action android:name="com.facebook.sdk.ACTION_CURRENT_ACCESS_TOKEN_CHANGED"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"/>
    </application>
</manifest>
